
@{
    ViewBag.Title = "Index";
}


<br />
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <input type="text" id="ID" style="display:none" />
                <label class="control-label col-lg-2">Percentage_from</label>
                <input type="text" id="Percentage_from" class="form-control col-lg-2" />
                <label class="control-label col-lg-2">Percentage_to</label>
                <input type="text" id="Percentage_to" class="form-control col-lg-2" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-lg-2">Grade_letters</label>
                <input type="text" id="Grade_letters" class="form-control col-lg-2" />
                <label class="control-label col-lg-2">Level_id</label>
                <input type="text" id="Level_id" class="form-control col-lg-2" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="button" value="Add" id="btn_Add" class="btn btn-primary" />
                <input type="button" value="Update" id="btn_Update" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Percentage_from</th>
        <th>Percentage_to</th>
        <th>Grade_letters</th>
        <th>Level_id</th>
        <th>Actions</th>
    </tr>
    <tbody id="body"></tbody>
</table>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        debugger
        GetData();
    })
    function GetData() {
        $('#body').empty();
        $.ajax({
            url: '/ExamGrade/GetData',
            Type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var rows = '';
                $.each(result, function (key, value) {
                    rows = '<tr>'
                    + '<td>' + value.ID + '</td>'
                    + '<td>' + value.Percentage_from + '</td>'
                    + '<td>' + value.Percentage_to + '</td>'
                    + '<td>' + value.Grade_letters + '</td>'
                     + '<td>' + value.Level_id + '</td>'
                    + '<td><input type="button" class="btn btn-primary edit" value="Edit" > <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },
            error: function (result) {
            }
        })
    }
    $(document).delegate('.edit','.click',function(){
        debugger
        var rowValue = $(this).closest('tr');
        var ID = rowValue.find("td:eq(0)").text();
        var Percentage_from = rowValue.find("td:eq(1)").text();
        var Percentage_to = rowValue.find("td:eq(2)").text();
        var Grade_letters = rowValue.find("td:eq(3)").text();
        var Level_id = rowValue.find("td:eq(4)").text();

        $('#id').val(ID);
        $('#Percentage_from').val(Percentage_from);
        $('#Percentage_to').val(Percentage_to);
        $('#Grade_letters').val(Grade_letters);
        $('#Level_id').val(Level_id);
    })


   $('#btn_Add').click(function () {
        debugger
        var Percentage_from = $('#Percentage_from').val();
        var Percentage_to = $('#Percentage_to').val();
        var Grade_letters = $('#Grade_letters').val();
        var Level_id = $('#Level_id').val();
        $.ajax({
            url: '/ExamGrade/Insert/',
            Type: 'Get',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            data: { "Percentage_from": Percentage_from, "Percentage_to": Percentage_to, "Grade_letters": Grade_letters, "Level_id": Level_id },
            success: function () {
                alert("Success");
                GetData();
            },
            error: function () {
                alert("Failed");
            }
        })
    })
</script>