
@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <input type="text" id="ID" style="display:none" />

                <label class="control-label col-lg-2">Name</label>
                <input type="text" id="Name" class="form-control col-lg-2" />
                <label class="control-label col-lg-2">Duration</label>
                <input type="text" id="Duration" class="form-control col-lg-2" />
             </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-lg-2">StandardFee</label>
                <input type="text" id="StandardFee" class="form-control col-lg-2" />
                <label class="control-label col-lg-2">Operator_id</label>
                <input type="text" id="Operator_id" class="form-control col-lg-2" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-lg-2">Is_deleted</label>
                <input type="text" id="Is_deleted" class="form-control col-lg-2" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="button" value="Add" id="btn_Add" class="btn btn-primary" />
                <input type="button" value="Update" id="btn_Update" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration</th>
        <th>StandardFee</th>
        <th>OperatorID</th>
        <th>IsDeleted</th>
        <th>Actions</th>
    </tr>
    <tbody id="body"></tbody>
</table>

<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>
    var formData;
    function GetData() {
        $('#body').empty();
        $.ajax({
            url: '/AcademicCourse/GetData',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                var rows = '';
                $.each(result, function (key, value) {
                    rows = '<tr>'
                         + '<td>' + value.ID + '</td>'
                          + '<td>' + value.Name + '</td>'
                        + '<td>' + value.Duration + '</td>'
                        + '<td>' + value.StandardFee + '</td>'
                        + '<td>' + value.Operator_id + '</td>'
                        + '<td>' + value.Is_deleted + '</td>'
                        + '<td><input type="button" class="btn btn-primary edit" value="Edit"> <input type="button" class="btn btn-danger delete" value="Delete"></td>'
                    '</tr>'
                    $('#body').append(rows);
                })
            },
            error: function (result) {
            }
        })
    }
    $(document).delegate('.edit', '.click', function () {
        debugger
        var rowValue = $(this).closest('tr');
        var ID = rowValue.find("td:eq(0)").text();
        var Name = rowValue.find("td:eq(1)").text();
        var Duration = rowValue.find("td:eq(2)").text();
        var StandardFee = rowValue.find("td:eq(3)").text();
        var Operator_id = rowValue.find("td:eq(4)").text();
        var Is_deleted = rowValue.find("td:eq(5)").text();

        $('#ID').val(ID);
        $('#Name').val(Name);
        $('#Duration').val(Duration);
        $('#StandardFee').val(StandardFee);
        $('#Operator_id').val(Operator_id);
        $('#Is_deleted').val(Is_deleted);
    })
    $('#btn_Add').click(function () {
        Add(formData);
    })
    function Add() {
        debugger
        var data = {};
        data.Name = $('#Name').val();
        data.Duration = $('#Duration').val();
        data.StandardFee = $('#StandardFee').val();
        data.Operator_id = $('#Operator_id').val();
        data.Is_deleted = $('#Is_deleted').val();
        $.ajax({
            url: "/AcademicCourse/Insert",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {
                alert(" Success");
                GetData();
            },
            error: function () {
                alert("Failed");
            }
        })
    }
</script>

